{
	"presets": [
		"es2015"
	],
	"env": {
		"test": {
			"plugins": [
				"istanbul"
			]
		},
		"production": {
			"presets": [
				[
					"es2015",
					{
						"modules": false
					}
				],
				["env", {
					"targets": {
					  "node": "current",
					  "uglify": true
					}
				}]
			]
		},
		"plugins": [
			[
				"babel-plugin-root-import",
				{
					"rootPathPrefix": "@",
					"rootPathSuffix": "src"
				}
			]
		]
	}
}