<template>
    <div id="login-view">
        <b-card id="login-container">
                        <b-form @submit.prevent="login">
                            <div class="logo">
                                <img src="/assets/logo.svg"/>
                            </div>
                            <b-form-group id="login-user">
                                <b-form-input type="text" v-model="email" required placeholder="Usuario">
                                </b-form-input>
                            </b-form-group>
                            <b-form-group id="login-password">
                                <b-form-input type="password" v-model="password" required placeholder="Contraseña">
                                </b-form-input>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Iniciar Sesión</b-button>
                            <a>¿Olvidaste tu contraseña?</a>
                        </b-form>
                        <!--<div>
                            <a><router-link to="registro">Obtén tu demo <b>GRATIS</b></router-link></a>
                        </div>-->
        </b-card>
    </div>
</template>

<script src="./login"></script>
