.weather {
    p {
        margin-bottom: 0;
    }

    .icon-container {
        padding: 0;
        max-height: 45px;

        .weather-icon {
            width: 7rem;
            transform: translateX(15px);
            transform: translateY(-17px);
        }
    }

    .temperature {
        font-size: 18px;
    }

    .city {
        font-size: 16px;
    }

    .wind {
        font-size: 14px;
        span{
            font-weight: bold;
        }
    }
}