.weather {
    p {
        margin-bottom: 0;
    }

    .icon-container {
        padding: 0;

        .weather-icon {
            width: 5.5rem;
        }
    }

    .temperature {
        font-size: 18px;
    }

    .city {
        font-size: 16px;
    }

    .wind {
        font-size: 14px;
        span{
            font-weight: bold;
        }
    }
}