.weather {
    p {
        margin-bottom: 0;
        font-size: 13px;
    }

    .icon-container {
        padding: 0;
        max-height: 45px;

        .ic-01d {
            width: 8rem !important;
        }
        .ic-01n {
            transform: translate(0, -28px) !important;
        }
        .ic-02d, .ic-02n, .ic-03d,
        .ic-03n, .ic-04d, .ic-04n {
            transform: translate(0, -20px) !important;
        }
        .ic-10d,
        .ic-13d {
            width: 6rem !important;
            transform: translate(0, -17px) !important;
        }
        .ic-11d,
        .ic-11n {
            width: 6.5rem !important;
            transform: translate(0, -27px) !important;
        }

        .weather-icon {
            width: 7rem;
            transform: translate(0, -30px);
        }
    }

    .temperature {
        font-size: 15px;
    }

    .city {
        font-size: 13px;
    }

    .wind {
        span{
            font-weight: bold;
        }
    }
}