
$egreen: #96c13d;
$egreen1: #87ad36;

.analysis-card-header {
}

.analysis-item--data {
    padding: 1rem 0;
}

.analysis-cost {
    margin: 2rem 0;
}

.analysis-on {
    color: green;
}

.analysis-off {
    color: red;
}