$egreen: #AFFC0F;
$egreen1: rgb(152, 214, 16);
$eblue: #00A6A6;
$lightgray: #f2f3f4;
$darkgray: #485658;
$gray: #ADADAD;
$white: #ffffff;

@media (max-width: 768px) {
    .dashboard-content--admin > div.col-md-6{
        padding-right: 0;
    }
}

#dashboard {

    .container {
        width: 300px;
        height: 200px;
    }
    .highcharts-yaxis-grid .highcharts-grid-line {
        display: none;
    }

    @media (max-width: 600px) {
        .container {
            width: 300px;
            float: none;
            margin: 0 auto;
        }

    }

    .card {
        box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.322)
    }

    .general-body {
        position: relative;
    }

    .refresh-btn {
        width: 40px;
        height: 40px;
        position: absolute;
        top: .5rem;
        right: 2rem;
    }

    .disable-refresh {
        background-image: url("/assets/images/Refresh_off.svg");
        background-repeat: no-repeat;
    }

    .enable-refresh {
        background-image: url("/assets/images/Refresh-on.svg");
        background-repeat: no-repeat;
    }

    .dashboard-map-container .card-body{
        padding: 0;

        .vue-map-container {
            width: 100%;
            height: 529px;
        }
    }

    thead {
        display: none;
    }

    tr:first-child td {
        border-top: none;
    }

    td {
        text-transform: uppercase;
    }

    .dashboard-content--admin > div.col-md-6:nth-child(2) {
        padding-left: 0;
    }

    .dashboard-content-user {

        .col-md-7 {
            padding: 0;
        }

        .gauge-chart-container .card-body div {
            text-align: center;
        }

        #pie-chart{
            width: 230px !important;
            height: 230px !important;
            margin: 0 auto;
        }

        .col .row:nth-child(2) .card{
            min-height: 100%;
        }

        .col-md-2, .col-md-3, .col-md-6, .col-md-4 {
            padding-right: 0;
        }

        .col-md-2:last-child,  .col-md-3:last-child, .col-md-6:last-child, .col-md-4:last-child{
            padding-right: 15px;
        }

        .dashboard-icon-container {
            text-align: center;
            padding-right: 0;

            i {
                font-size: 24px;
                margin-top: 25%;
            }
        }

        .dashboard-data-container {

            h5 {
                margin-top: 0.5rem;
                font-size: 1.1rem;
                letter-spacing: 1px;
                display: inline-block;
                width: 47%;
            }

            p {
                margin-bottom: 0;
                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }

        .dashboard-general,
        .dashboard-history,
        .daily-reading-card {
            margin-bottom: 1rem;
            .analysis-card-header {
                h5 {
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                }
            }

            .billable-period {
                text-align: right;
            }
        }

        .dashboard-general, .dashboard-history {
            //padding: 2rem;

            .analysis-card-header {
                border-top-left-radius: 0.4rem;
                border-top-right-radius: 0.4rem;
                padding: 1.5rem 2rem .5rem;
                background-color: $white;
                border-bottom: 1px solid $gray;
                margin: 0;

            }

            .highcharts-container {
                max-width: none !important;
            }

            >div.row:nth-child(2) {
                padding: 2rem;
            }
        }

        .daily-reading-card {

            .analysis-card-header {
                background-color: $white;
                border-bottom: 1px solid $gray;
                padding: 0 1rem .2rem;
            }

            .analysis-card-body {
                padding-top: 1rem;
            }
        }
    }

    .dashboard-content--admin .card {
        height: 80vh;

        .table-responsive {
            height: 70vh;
        }
    }
}

.fe_container {

    min-width: auto;
    color: $darkgray !important;

    .fe_currently {
        width: 100%;
    }

    .fe_daily {
        display: none;
    }
}

#gaugeChart {
    height:100%;
    width:100%;
    min-height:150px;
}

.zc-ref {
    display: none;
}
