.graphs, #graphs, #graph-costs, #graph-carbon, #graph-generation {
    .date-buttons--container {
        margin: 2rem 0;
        text-align: right;
        
        .btn {
            margin-right: 5px;
        }
    }
    .chart-container {
        position: relative;
        margin: auto;
        width: 75vw;
    }
    .interval-buttons {
        margin-top: 2rem;

        .btn {
            margin-right: 5px;
        }
    }
    .datepickers {
        display: inline-block;
        margin-right: .5rem;

        input.form-control {
            cursor: pointer;
            display: inline-block;
            width: 45%;
            max-height: 2rem;
            margin-right: 10px;
        }
    }
}

#graph-carbon {
    .column-legends {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        .legend {
            .square {
                width: 25px;
                height: 25px;
                display: inline-block;
            }
            .legend-text {
                display: inline-block;
                transform: translateY(-7px);
            }
            display: inline-block;
            margin-right: 10px;
        }
    }
}

#graph-costs {
    .column-legends {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        .legend {
            .square {
                width: 25px;
                height: 25px;
                display: inline-block;
            }
            .legend-text {
                display: inline-block;
                transform: translateY(-7px);
            }
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.graphs {

    @media screen and (max-width: 1440px) {
        
        .datepickers {
            width: 40%;
            input {
                max-height: 1.5rem;
            }
        }

        .btn {
            padding: .3rem !important;
            font-size: 13px;
        }
    }
    
}