$egreen: #AFFC0F;
$egreen1: rgb(152, 214, 16);
$lightgray: #fdfeff;
$darkgray: #485658;
$egray: #485658;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {

    -webkit-box-shadow: 0 0 0px 1000px #f8f9fa inset;
    transition:  background-color #f8f9fa ;


}




@media only screen and (max-width: 1023px) {
    #login-container, #register-container {
        width: 100%;
    }
}

@media (min-width: 1024px) {

    #login-container, #register-container {
        right: 10%;
        position: fixed;
    }

    #login .banner2 {
        width: fit-content;
        align-items: flex-end;
        height: 120px;
        margin-top: 150px;
        margin-left: 120px;
        text-align: center;
        color: $darkgray;
        width: fit-content;
    }

    #login .H3Descarga{
        margin-top: 150px;
        font-weight: bold;
        font-size: 1.5rem;
        color: black;
        letter-spacing: 1.5px;
        text-align: left;
    }
    #template {
        background-color: white;
    }

    #hola {
      //  background-color: #e8f0fe;
      background-color: #f8f9fa;
        padding-bottom: 2px;
    }

    #banner1 {
        position: absolute;
        right: 75%;
        left: 16%;
        top: 70%;
    }

    #login-container {
        width: 350px;
        top: 15%;
    }

    #register-container {
        width: 700px;
        top: 10%;
    }

    #login .info-container {
        display: inline-block;
        margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 20px;
    }

}


#template,#login,#register {

    background-image: url("/assets/login_background.png");
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;/* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100vh;
}

.header-img{
    background-image: url("/assets/images/header2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

#register-container {
    h5 {
        text-align: left;
        font-size: 1.15rem;
        color: rgba(0,0,0,0.74);
    }
}

#login-container, #register-container{
    background-color: $lightgray;
    text-align: center;
    box-shadow: 0 0 30px 0 #c2c2c2;
    border-radius: 10px;

    .card-body {
        padding: 3rem;
    }

    .logo img {
        width: 180px;
        margin-bottom: 3rem;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    form a {
        text-transform: none;
        cursor: pointer;
        color: rgba(0,0,0,0.74);

        &:hover {
            text-decoration: underline;
        }
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 0.5rem;
        
    }

}





#login .btn-primary {
    padding: 0.5rem 3rem;
    background-color: $egray;

        &:hover {
            background-color: $egray;
        }
}

#login .btn-primary a {
    color: #FFFF;
    text-decoration: none;
}

#login .h3Descubre {
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 8rem;
    color: black;

}


#login .info-container {
    
    color: $darkgray;



    h5 {
        margin-bottom: 1rem;
        font-weight: bold;
        color: $darkgray;
        font-size: 1.5rem;
    }
}

#login-container h5 {
    margin-bottom: 1rem;
}

#banner2 h5 {
    margin-bottom: 1rem;
}
