$egreen: #AFFC0F;
$egreen1: rgb(152, 214, 16);
$lightgray: #fdfeff;
$darkgray: #485658;
$egray: #485658;

@media only screen and (max-width: 1023px) {
    #login-container, #register-container {
        width: 100%;
    }
}

@media (min-width: 1024px) {

    #login-container, #register-container {
        right: 10%;
        position: fixed;
    }

    #login-container {
        width: 350px;
        top: 15%;
    }

    #register-container {
        width: 700px;
        top: 10%;
    }

    #login .info-container {
        display: inline-block;
        position: absolute;
        top: 40%;
        left: 10%;
    }

}

#login {
    background-image: url("/assets/login_background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-img{
    background-image: url("/assets/images/header2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

#register-container {
    h5 {
        text-align: left;
        font-size: 1.15rem;
        color: rgba(0,0,0,0.74);
    }
}

#login-container, #register-container{
    background-color: $lightgray;
    text-align: center;
    box-shadow: 0 0 30px 0 #c2c2c2;
    border-radius: 10px;

    .card-body {
        padding: 3rem;
    }

    .logo img {
        width: 180px;
        margin-bottom: 3rem;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    form a {
        text-transform: none;
        cursor: pointer;
        color: rgba(0,0,0,0.74);

        &:hover {
            text-decoration: underline;
        }
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 0.5rem;
        
    }

}

#login .btn-primary {
    padding: 0.5rem 3rem;
    background-color: $egray;

        &:hover {
            background-color: $egray;
        }
}

#login .btn-primary a {
    color: #FFFF;
    text-decoration: none;
}

#login .info-container {
    
    color: $darkgray;

    h3 {
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }

    h5 {
        margin-bottom: 1rem;
    }
}

#login-container h5 {
    margin-bottom: 1rem;
}
