$egreen: #84b92e;
$egreen1: #87ad36;
$lightgray: rgb(253, 254, 255);

@media only screen and (max-width: 1023px) {
    #login-container, #register-container {
        width: 100%;
    }
}

@media (min-width: 1024px) {

    #login-container, #register-container {
        right: 10%;
        position: fixed;
    }

    #login-container {
        width: 350px;
        top: 20%;
    }

    #register-container {
        width: 700px;
        top: 10%;
    }

}

.header-img{
    background-image: url("/assets/images/header2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

#register-container {
    h5 {
        text-align: left;
        font-size: 1.15rem;
        color: rgba(0,0,0,0.74);
    }
}

#login-container, #register-container{
    background-color: $lightgray;
    text-align: center;
    box-shadow: 0 0 30px 0 #c2c2c2;
    border-radius: 10px;

    .card-body {
        padding: 3rem;
    }

    .logo img {
        width: 150px;
        margin-bottom: 1rem;
    }

    .form-group {
        margin-bottom: 2rem;
    }

    form a {
        text-transform: none;
        cursor: pointer;
        color: rgba(0,0,0,0.74);

        &:hover {
            text-decoration: underline;
        }
    }

    .btn-primary {
        width: 100%;
        margin-bottom: 0.5rem;
    }

}
