$egreen: #AFFC0F;
$egreen1: rgb(152, 214, 16);
$light: rgba(241, 241, 241, 0.582);
$lightgray: rgb(143, 143, 143);
$darkgray: #485658;

$egray2: #8D8D8D;

.navbar {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.05), 0 0px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px -1px rgba(0, 0, 0, 0.05);
}

.nav-logo-container img{
    height: 70px;
    width: 70px;
}

#top-bar {
    background-color: #fcfcfc !important;
    position: relative;

    .meter-not-available-img {
        width: 4rem;
        cursor: pointer;
        margin-right: 2rem;
    }

    p.current-date {
        margin-top: .5rem;
        display: inline-block;
        margin-bottom: 0;
    }

    .alert {
        margin-bottom: 0;
        text-align: center;
        font-size: 18px;
        padding: 5px 10px;
        color: $egreen1;

        &:hover {
            background-color: $egreen;
            color: #ffffff;
            border-color: #ffffff;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .menu-dropdown {

        display: inline-block !important;
        text-align: right;

        .b-nav-dropdown {
            width: 100%;

            .dropdown-toggle {
                font-size: 13px;
            }
        }

        .dropdown-item {

            &:focus {
                background-color: $light;
                color: black;
                box-shadow: none;
            }

            .fa-user {
                transform: translateY(-1.6px);
                margin-right: 5px;
            }
    
            .fa-sign-out-alt {
                margin-right: 5px;
            }
        }
    }
}

#top-nav{
    background-color: #FFF;

    .nav {
        height: 48px;
        border-bottom: 1px solid $egreen;
        justify-content: space-evenly;

        .nav-item {

            &.current-view {
                background-color: rgba(0,0,0,0.03);
            }
        }

        i {
            color: $egreen;
        }
    }

}

#side-nav{
    background-color: #fcfcfc;
    width: 165px;
    position: fixed;
    height: 100vh;
    top: 0;
    box-shadow: 0 0 5px 0 #c2c2c2;
    z-index: 1021;

    .nav-logo-container {
        text-align: center;
        padding: 1rem;
    }

    .menu-icon-container {
        width: 30px;
        display: inline-block;
    }

    .nav-item{

        border-right: 3px solid #fcfcfc;

        &:hover, &.current-view {
            border-color: $egreen;

            i {
                color: $egreen1;
            }

            .nav-link {
                color: $darkgray;
            }
        }

        .nav-link, i {
            color: $lightgray;
        }

        .nav-link {
            margin: 0.375rem 0.4rem;
        }
    }

    .nav-link {
        color: $darkgray;
        margin: 0.375rem 0.75rem;
        font-weight: 300;
    }

    #serviceSelection {
        background-color: $light;

        .nav-item {
            border: none;

            &.currentService {
                background-color: $egray2;
                
                .nav-link {
                    color: #ffffff;
                }
            }

            .nav-link {
                margin: 0;
            }
        }
    }
}
