$egreen: #AFFC0F;
$egreen1: rgb(152, 214, 16);
$lightgray: rgb(253, 254, 255);
$darkgray: #485658;

.navbar {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.05), 0 0px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 1px -1px rgba(0, 0, 0, 0.05);
}

.nav-logo-container img{
    height: 70px;
    width: 70px;
}

#top-bar {
    background-color: #fcfcfc !important;
    //box-shadow: 0 0 5px 0 #c2c2c2;
    position: relative;
    height: 62px !important;

    .weatherwidget-io {
        transform: translate(0, 7px);
   
    }
}

#top-nav{
    background-color: #FFF;

    .nav {
        height: 48px;
        border-bottom: 1px solid $egreen;
        justify-content: space-evenly;

        .nav-item {

            &.current-view {
                background-color: rgba(0,0,0,0.03);
            }
        }

        i {
            color: $egreen;
        }
    }

}

#side-nav{
    background-color: #fcfcfc;
    width: 165px;
    position: fixed;
    height: 100vh;
    top: 0;
    box-shadow: 0 0 5px 0 #c2c2c2;
    z-index: 1021;

    .nav-logo-container {
        text-align: center;
        padding: 1rem;
    }

    .menu-icon-container {
        width: 30px;
        display: inline-block;
    }

    /*ul.w-100 .nav-item:last-child{
        position: absolute;
        width: 100%;
        bottom: 4%;
    }*/

    .nav-item{

        border-right: 3px solid #fcfcfc;

        &:hover, &.current-view {
            background-color: rgba(0,0,0,0.03);
            border-color: $egreen;

            .nav-link, i {
                color: $egreen1;
            }
        }

        i {
            color: $darkgray;
        }

        .nav-link {
            margin: 0.375rem 0.4rem;
        }
    }

    .nav-link {
        color: $darkgray;
        margin: 0.375rem 0.75rem;
        font-weight: 300;
    }
}

.fa-user {
    transform: translateY(-1.6px);
    margin-right: 5px;
}