@import 'styles/login.scss';
@import 'styles/analysis.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'styles/companies.scss';
@import 'styles/company.scss';
@import 'styles/profile.scss';
@import 'styles/graphs.scss';
@import 'styles/notification.scss';

$egreen: #96c13d;
$gray: rgba(0,0,0,0.64);

html, body {
  background-color: #fcfcfc;
  font-family:'Poppins', sans-serif;
  font-size: 13px;
}

.breadcrumb a {
  color: $egreen;
}

@media (max-width: 768px) {
  .table-pagination > div.my-1 {
    &:first-child {
      width: 20%;
    }
    &:last-child {
      width: 50%;
    }
  }

  .row.header {
    padding: 1rem 0;
  }

  #profile .action .btn {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  #main {
    margin-left: 170px;
    overflow-x: hidden;

    >div.row {
      margin: 1rem;

      >div.col:first-child {
        padding: 0;
      }
    }
  }

  .header {

    margin: 0;

    margin-bottom: 1rem;
    margin-top: 1rem;

    >div {
      padding: 0;
    }

    h3 {
      font-size: 1.3rem;
      color: $gray;
      display: inline-block;
      text-transform: uppercase;
    }

    .card-body {
      padding-bottom: 37px;;
    }

    .custom-select {
      width: 200px;
    }

    .filters-container .btn {
      margin-top: 13px;
    }
  }
}

.btn-outline-success {
  color: $egreen;
  border-color: $egreen;

  &:hover {
    background-color: $egreen;
    border-color: $egreen;
  }
}

.btn-success, .btn-success {
  border-color: $egreen !important;
  background-color: $egreen !important;
}

.list {

  .b-table {

    .btn-primary{
      background-color: #0076ff;
      opacity: 0.8;
      width: 75px;
      font-size: 12px;
    }

    .btn-primary:not(:disabled):not(.disabled):active {
      background-color: #0076ff;
    }

    .btn-primary:not(:disabled):not(.disabled).active {
      opacity: 1;
    }

    font-size: 0.9rem;

    tbody tr:hover {
      cursor: pointer;
      background-color: rgba(0,0,0,0.02);
    }

    th {
      border: none;
      color: rgba(0,0,0,0.54);
      font-weight: 500;
      text-transform: uppercase;
      cursor: default;
    }

    td {
      color: #424242;
      padding: 1rem;
      border-top: 1px solid rgba(0,0,0,0.02);
    }
  }
}

.btn {
  border-radius: 0.4rem;
}

.right {
  float: right;
}

.form-control {
  padding: 0.575rem 0.85rem;
}

.form-control, .form-control:focus {
  border-radius: 0.4rem;
  color: #424242;
  background-color: rgba(0,0,0,0.02);
  border: none;
}

.btn-primary:not(:disabled):not(.disabled):active{
  border: 1px solid transparent;
  background-color: $egreen;
}

.btn-primary, .page-item.active .page-link {
  border: 1px solid transparent;
  background-color: $egreen;
  border-radius: 0.4rem;

  &:hover {
    background-color: $egreen;
    border-color: transparent;
  }
}

.page-item.active .page-link {
  border-radius: 0.25rem;
}

::placeholder { /* Most modern browsers support this now. */
  color: rgba(0,0,0,0.54);
}

.modal-body {
  padding: 2rem;
}

.card {
  border: none;
  border-radius: 2px;
}

.modal-body {
  h5 {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
  }
}

.map-container {
  background-image: url("/assets/images/map-example.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.tabs .nav-link {
  color: $egreen;
}

.table-pagination .custom-select {
  width: 60px;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}