@import 'styles/companies.scss';

$egreen: #96c13d;

html, body {
  background-color: #f7f7f7;
  font-family: 'Roboto' !important;
  font-size: 13px;
}

@media (min-width: 768px) {
  #main {
    margin-left: 55px;

    >div.row:first-child {
      margin: 1rem;

      >div.col:first-child {
        padding: 0;
      }
    }
  }

  .header {

    margin-left: -13px;

    >div {
      padding: 0;
    }

    h3 {
      font-size: 1.2rem;
      color: #424242;
      display: inline-block;
    }

    .btn {
      float: right;
    }

    .card {
      border-left: none;
      border-top: none;
      border-radius: 0;
    }

    .card-body {
      padding-bottom: 37px;;
    }
  }
}

.btn-outline-success {
  color: $egreen;
  border-color: $egreen;

  &:hover {
    background-color: $egreen;
    border-color: $egreen;
  }
}

.list {

  margin-top: 1rem;

  .b-table {

    font-size: 0.9rem;

    tr:hover {
      cursor: pointer;
    }

    th {
      border: none;
      color: rgba(0,0,0,0.54);
      font-weight: 600;
      cursor: default;
    }

    td {
      color: #424242;
    }
  }
}

.btn {
  border-radius: 1.25rem;
}